{% extends "base.html" %}
{% load static %}

{% block title %}Marketplace{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/marketplace.css' %}">
{% endblock %}

{% block content %}

<div class="market-topbar">
    <h2>Marketplace</h2>

    <div class="market-actions">
        <div class="filter-panel" id="filterPanel">
    <form method="GET" class="filter-form">

        <label>Precio mínimo</label>
        <input type="number" name="precio_min" placeholder="Desde $">

        <label>Precio máximo</label>
        <input type="number" name="precio_max" placeholder="Hasta $">

        <button type="submit" class="btn apply-btn">Aplicar filtros</button>

    </form>
</div>

        <a href="{% url 'publicar_producto' %}" class="btn publish-btn">+ Publicar Producto</a>

    </div>
</div>

<div class="market-container">

    <!-- MENU IZQUIERDO -->
<aside class="market-sidebar">
    <h3>Categorías</h3>
    <ul>
        <li><a href="{% url 'marketplace' %}">🚗 Todos los autos</a></li>
        <li><a href="?combustible=electrico">⚡ Eléctricos</a></li>
        <li><a href="?combustible=nafta">⛽ Nafta</a></li>
        <li><a href="?combustible=diesel">🛢 Diésel</a></li>
        <li><a href="?transmision=automatica">⚙ Automáticos</a></li>
        <li><a href="?transmision=manual">🕹 Manuales</a></li>
    </ul>
</aside>


    <!-- GRILLA DE PRODUCTOS -->
    <section class="market-grid">

       {% for item in productos %}
<a href="{% url 'detalle_producto' item.id %}" class="product-card">

    {% if item.fotos.first %}
        <img src="{{ item.fotos.first.imagen.url }}" class="product-img">
    {% endif %}

    <div class="product-info">
        <h3 class="price">${{ item.precio }}</h3>
        <p class="title">{{ item.marca_modelo }}</p>
        <p class="location">{{ item.ubicacion }}</p>
    </div>

</a>
{% endfor %}


    </section>

</div>

{% endblock %}
